<md-toolbar color="primary" class=footer-toolbar>
  <span>
  	<ul>
          <li>
              <a href="https://www.google.com" target="_blank">
                  Google |
              </a>
          </li>
          <li>
              <a href="http://tsj-dem.gob.ve" target="_blank">
                  DEM |
              </a>
          </li>
          <li>
              <a href="http://www.bcv.org.ve" target="_blank">
                  BCV |
              </a>
          </li>
          <li>
              <a href="http://www.minpptrass.gob.ve/" target="_blank">
                  Mintra
              </a>
          </li>
      </ul>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="footer-spacer"></span>

  <span>&copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.tripledes.com.ve" target="_blank">Cooperativa 3DES</a>, by Wilmer Pino</span>
</md-toolbar>
