<nav class="navbar navbar-default navbar-fixed  navbar-fixed-bottom footer-toolbar">
    <ul  class="nav navbar-nav navbar-left">
        <li>
            <a href="https://www.google.com" target="_blank">
                Google |
            </a>
        </li>
        <li>
            <a href="http://tsj-dem.gob.ve" target="_blank">
                DEM |
            </a>
        </li>
        <li>
            <a href="http://www.bcv.org.ve" target="_blank">
                BCV |
            </a>
        </li>
        <li>
            <a href="http://www.minpptrass.gob.ve/" target="_blank">
                Mintra
            </a>
        </li>
   </ul>
   <ul  class="nav navbar-nav navbar-right">      
      <li>
          <div>&copy; 2017 <a href="http:// www.tripledes.com.ve" target="_blank">Cooperativa 3DES</a>, by Wilmer Pino</div>
      </li>
   </ul>
</nav>
