<footer class="bg-dark text-white mt-0">
    <div class="container-fluid py-4">
         <div class="row">
            <div class="col-md-1 text-left small ">
                  <a href="https://www.google.com" target="_blank">
                      Google |
                  </a>
            </div>
             <div class="col-md-1 text-left small">
                  <a href="http://tsj-dem.gob.ve" target="_blank">
                      DEM |
                  </a>
             </div>
             <div class="col-md-1 text-left small">
                  <a href="http://www.bcv.org.ve" target="_blank">
                      BCV |
                  </a>
             </div>
             <div class="col-md-1 text-left small">
                  <a href="http://www.minpptrass.gob.ve/" target="_blank">
                      Mintra
                  </a>
             </div>
            <div class="col-md-5"></div>
            <div class="col-md-3 text-right small align-self-end"><div>&copy; 2017 <a href="http:// www.tripledes.com.ve" target="_blank">Cooperativa 3DES</a>, by Wilmer Pino</div></div>
        </div>
    </div>
</footer>
