<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">{{title || 'Confirmaci&oacute;n'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       <div class="modal-body">
         <p>{{message || '¿Est&aacute; seguro?'}}</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" (click)="confirm()">Si</button>
         <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
       </div>
     </div>
  </div>
