/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
      height:100%;
      min-height:100vh;
      margin: 0;

}

.app-table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.app-table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.app-table-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.app-table-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.app-table {
  overflow: auto;
}