<h1>{{ title }}</h1>
<table class="table">
	<thead>
		<tr>
			<td>Id</td>
			<td>RIF</td>
			<td>Nombre</td>
			<td>Telefono</td>
			<td>Correo</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
	<tr *ngFor = "let cliente of clientes">
		<td>{{ cliente.id }}</td>
		<td>{{ cliente.rif }}</td>
		<td>{{ cliente.razon_social }}</td>
		<td>{{ cliente.telefono }}</td>
		<td>{{ cliente.email }}</td>
		<td><button class="btn btn-default">Open </button> </td>
	</tr>	
	</tbody>
</table>

<app-pagination
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  [pagesToShow]="pagesToShow"
  [page]="page"
  [perPage]="limit"
  [count]="total"></app-pagination>

<!--<modal id="clientes-modal">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('clientes-modal');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>-->