<h1>{{ title }}</h1>
<table class="table">
	<thead>
		<tr>
			<td>Id</td>
			<td>RIF</td>
			<td>Nombre</td>
			<td>Telefono</td>
			<td>Correo</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
	<tr *ngFor = "let cliente of clientes">
		<td>{{ cliente.id }}</td>
		<td>{{ cliente.rif }}</td>
		<td>{{ cliente.razon_social }}</td>
		<td>{{ cliente.telefono }}</td>
		<td>{{ cliente.email }}</td>
		<td><button class="btn btn-danger" (click)="delCliente(cliente.id); false;">Eliminar </button> </td>
		<td><button class="btn btn-success" (click)="getCliente(cliente.id); false;">Editar </button> </td>
	</tr>	
	</tbody>
</table>

<app-pagination
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  [pagesToShow]="pagesToShow"
  [page]="page"
  [perPage]="limit"
  [count]="total"></app-pagination>

<app-clientes-form
  [cliente]="cliente"
  (save)="saveClientes($event)">
</app-clientes-form>

